                @use 'fonts';
                @use 'colors';
                .wrapper {
                    width: 100%;
                    padding-top: 50px;
                    padding-bottom: 50px;
                    &_content {
                        width: 100%;
                        padding-right: 15px;
                        padding-left: 15px;
                        margin-right: auto;
                        margin-left: auto;
                        max-width: 1170px;
                        &_text {
                            display: flex;
                            flex-wrap: wrap;
                            margin-right: -15px;
                            margin-left: -15px;
                            text-align: center;
                            justify-content: center;
                            flex-direction: column;
                            padding-bottom: 50px;
                            &_title {
                                font-size: 44px;
                                color: #19191a;
                                margin-bottom: 12px;
                            }
                            &_location {
                                &_home {
                                    display: inline-block;
                                    font-size: 18px;
                                    color: #19191a;
                                    position: relative;
                                    font-weight: 500;
                                }
                                &_rooms {
                                    display: inline-block;
                                    font-size: 18px;
                                    color: #aaaab3;
                                }
                            }
                        }
                    }
                    &_roomDetails {
                        padding-top: 0;
                        padding-bottom: 80px;
                        &_content {
                            width: 100%;
                            padding-right: 15px;
                            padding-left: 15px;
                            margin-right: auto;
                            margin-left: auto;
                            max-width: 1170px;
                            &_block {
                                display: flex;
                                flex-wrap: wrap;
                                margin-right: -15px;
                                margin-left: -15px;
                                justify-content: center;
                                padding-bottom: 50px;
                                &_box {
                                    flex: 0 0 66%;
                                    max-width: 66%;
                                    &_info {
                                        margin-bottom: 50px;
                                        Image {
                                            max-width: 100%;
                                        }
                                        &_text {
                                            &_title {
                                                overflow: hidden;
                                                h3 {
                                                    color: #19191a;
                                                    float: left;
                                                    font-size: 30px;
                                                }
                                                &_right {
                                                    float: right;
                                                    text-align: right;
                                                    &_bookingNow {
                                                        padding-top: 20px;
                                                        a {
                                                            display: inline-block;
                                                            color: #fff;
                                                            font-size: 13px;
                                                            text-transform: uppercase;
                                                            font-weight: 700;
                                                            background: #dfa974;
                                                            padding: 14px 28px 13px;
                                                        }
                                                    }
                                                }
                                            }
                                            h2 {
                                                color: #dfa974;
                                                font-weight: 700;
                                                margin-bottom: 25px;
                                                font-size: 36px;
                                                text-align: left;
                                                span {
                                                    font-family: "Cabin", sans-serif;
                                                    font-size: 16px;
                                                    font-weight: 400;
                                                    color: #19191a;
                                                }
                                            }
                                            table {
                                                margin-bottom: 32px;
                                                border-collapse: collapse;
                                                tbody {
                                                     :nth-child(4) {
                                                         :nth-child(1) {
                                                            padding-right: 10px;
                                                        }
                                                    }
                                                    tr {
                                                        td {
                                                            font-size: 16px;
                                                            color: #19191a;
                                                            line-height: 36px;
                                                            width: 150px;
                                                        }
                                                        &_tdStyle {
                                                            width: 120px;
                                                            color: #707079;
                                                        }
                                                    }
                                                }
                                            }
                                            &_textP {
                                                margin-bottom: 22px;
                                            }
                                            &_textP2 {
                                                color: #707079;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    p {
                        padding-bottom: 20px;
                    }
                }