.wrapper {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    h2 {
        text-align: left;
    }
    h3 {
        padding-top: 5px;
        text-align: left;
    }
    &_container {
        text-align: left;
    }
}