@use '../../common/css/colors.scss';
@use '../../common/css/fonts';
.wrapper {
    // width: 100%;
    // display: flex;
    // justify-content: center;
    &_content {
        &_title {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
        }
        &_block {
            // justify-content: space-between;
            // width: 100%;
            // display: flex;
            &_items {
                &_item {
                    // position: relative;
                    // max-width: 1170px;
                    // overflow: hidden;
                    // display: flex;
                    // flex-wrap: wrap;
                    // justify-content: center;
                    // padding-top: 50px;
                    @media screen and (max-width: 600px) {
                        padding-left: 50px;
                    }
                    padding-left: 100px;
                    &_bg {
                        object-fit: cover;
                        background-repeat: no-repeat;
                        padding-right: 10px;
                        height: 620px;
                        @media screen and (max-width: 500px) {
                            height: auto;
                            padding-right: 0;
                        }
                        img {
                            @media screen and (max-width: 500px) {
                                width: 100%;
                            }
                        }
                        &_text {
                            position: relative;
                            bottom: 75px;
                            color: white;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: center;
                            h3 {
                                font-weight: 600;
                                font-size: 32px;
                                margin-bottom: -10px;
                            }
                            h2 {
                                font-size: 32px;
                                font-weight: 600;
                                color: colors.$text-svg-header;
                                span {
                                    font-weight: 400;
                                    font-size: 1px;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}